- if @matchup_mode == nil
  - if (session[:done] || 0) < 2
    .warning
      Careful: the question changes after every few answers
  - if (session[:done] % 5 == 0) && session[:done] != 0
    .warning
      New question!
.question
  .heading
    - if @mode == "upper"
      Which hero has the highest skill
      = succeed "?" do
        %strong{ class: @mode } ceiling
    - else
      Which hero has the highest skill
      = succeed "?" do
        %strong{ class: @mode } floor
  .tagline
    - if @mode == "upper"
      Is
      %strong= @first_hero.name
      or
      %strong= @second_hero.name
      harder to 
      = succeed "?" do 
        %strong master
    - else
      Is
      %strong= @first_hero.name
      or
      %strong= @second_hero.name
      harder to 
      = succeed "?" do 
        %strong play at an acceptable level

.left
  = form_tag "/results" do
    = image_submit_tag @first_hero.icon_path
    = hidden_field_tag :matchup_mode, @matchup_mode
    = hidden_field_tag :winner, @first_hero.id
    = hidden_field_tag :loser, @second_hero.id
    = hidden_field_tag :mode, @mode
    = submit_tag "#{@first_hero.name} has a higher skill #{@mode == "upper" ? "ceiling" : "floor"}"
.right
  = form_tag "/results" do
    = image_submit_tag @second_hero.icon_path
    = hidden_field_tag :matchup_mode, @matchup_mode
    = hidden_field_tag :winner, @second_hero.id
    = hidden_field_tag :loser, @first_hero.id
    = hidden_field_tag :mode, @mode
    = submit_tag "#{@second_hero.name} has a higher skill #{@mode == "upper" ? "ceiling" : "floor"}"
  
.skip
  = link_to "Skip this match-up", request["PATH_INFO"]

.options
  = link_to "Only show skill floor matchups", "/floor"
  |
  = link_to "Only show skill ceiling matchups", "/ceiling"
  |
  = link_to "Show me anything", root_path

- if session[:done]
  .completed
    Matchups answered: 
    = session[:done].inspect

.source
  Source is available
  = link_to "on Github", "https://github.com/intolerable/dota2-difficulty"
