!!!
%html{ data: { controller: params[:controller], action: params[:action] } }
  %head
    %title Dota 2 Difficulty Comparison
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: true }
    = javascript_include_tag "application", data: { turbolinks_track: true }
    = javascript_include_tag "https://www.google.com/jsapi"
    = csrf_meta_tags
  %body
    = yield
